[2018-11-22 11:46] silverhook opened #1 "How to host the documentation"
As indicated in https://github.com/Pelican-Elegant/pelican-elegant/issues/173#issuecomment-440179359 we would need to decide how to best host the new documentation and in what form.

My suggestion would be to eat our own dogfood and use Pelican with the Elegant theme for our documentation (as @talha131 did before). There are many other options as well though – wikis, pure markdown, https://readthe

[2018-11-22 15:43] silverhook commented on #1
Thanks, that’s a good list of items to address.

I’ll leave this up for a bit to let others comment if they have a different suggestion on how we should handle documentation.

[2018-11-29 06:56] silverhook opened #2 "Update the URL to main repository and home page"
Find all of the following occurrences and change them accordingly:

- Change homepage to the new home (see #1)
- Change repository from `https://github.com/talha131/pelican-elegant/` to `https://github.com/Pelican-Elegant/elegant` (see https://github.com/Pelican-Elegant/pelican-elegant/issues/179)
- … there are probably a few more URL we will need to catch and change as well.

[2018-12-03 20:55] iranzo commented on #1
Using readthedocs is easy to setup and doesn't require to use external travis codes for pushing to branch, going for using pelican to render the page and even more, use elegant as theme could be great even if this means having to follow several steps:

[ ] Rename to XXX.github.io repo name
[ ] Move current content to `source` branch
[ ] leave master for 'rendered' output

[2018-12-05 08:45] iranzo opened #4 "[RFE]: Improve documentation for 'initial setup'"
Most themes does provide information and automation for setting up:

- [ ] Disqus sitename
- [ ] Google analytics code

I saw mentions to Disqus in the documentation and some issues with the accordion it has.

Also on the templates I do see that there are mentions to them, but makes it a try-error or 'go deep into code' before you can set it up as it should

`GOOGLE_ANALYTICS`

and

`DISQUS_SITENA

[2018-12-05 20:17] iranzo commented on #1
Some scripts on using token and travis build in github to publish to blog on updates
<https://gist.github.com/ShaunaGordon/0cbf0b8f2d667c5ec794>

[2018-12-05 20:20] iranzo commented on #1
Also: <https://blog.minchin.ca/2017/05/deploying-pelican-with-travis-to-github.html>

[2018-12-05 20:31] iranzo commented on #1
@silverhook can we get admin for this repo to set it up and then be downgraded again?

[2018-12-06 07:39] silverhook commented on #1
ReadTheDocs is great, but I’m more in favour of continuing running the documentation on Pelican + Elegant.

My reasons:

- “self-hosted” static HTML
- can serve as a test-bed for Elegant (forks of the documentation repo)
- serves as a demo page – loads of themes don’t have one any more, as the original author moved to a different theme or even blogging service
- can double as a news outlet for rel

[2018-12-06 07:53] iranzo commented on #1
I'll try to do it during today and list here the  commits (i'll go to the direct commit way until it's setup)

[2018-12-06 07:55] talha131 commented on #1
Please no and never. We should eat our dog food and make sure we have a fully functional site to showcase the feature. A live website is no replacement of few demo pages.

ReadTheDocs makes sense for libraries. But for theme, it's not a good suit.

# Domain

Do we need to buy a domain for the site? If so I am willing to purchase a `.com` domain for 3 years and pass the ownership to the community?

[2018-12-06 08:01] iranzo commented on #1
I'm preparing it to do it via github pages so that a domain is not needed and we can use something like pelican-elegant.github.io

A domain can be put pointing to it (I do have that done with https://citellus.org that is hosted on github pages)

[2018-12-06 08:06] talha131 commented on #1
We can also use netlify instead of github pages.

There is also gitlab which has better CI support. You don't have to rely on external tool like travis. We can use Gitlab only for compiling and hosting the documentation.

Yes that's the plan. If we decide to get a domain.

[2018-12-06 08:22] silverhook commented on #1
I’m also willing to pay for a .org/.com/.net domain, if needed. If we do that, it would make sense to transfer it to an organisation of trust though, so we don’t depend on a single person to run the domain.

For now, i think pelican-elegant.github.io is perfectly fine :)

---

(I wouldn’t mind moving Elegant to GitLab at all, but that seems like a separate question – @talha131 feel free to open a

[2018-12-06 09:23] talha131 commented on #1
At the moment I am not sure Gitlab is a better choice. I put forward the alternates so that the community can reach a better decision.

Hosting documentation at gitlab will NOT result in migrating elegant from here.

Whoever takes up this task will be a better judge.

[2018-12-06 10:50] silverhook commented on #1
@iranzo, you mean [a personal access token](https://github.com/settings/tokens/)? Does it need any specific scopes?

GPG over e-mail sounds good. Your valid pubkey’s fingerprint is: `8C6C 121B 4EE1 CA05 09CC 3F98 0348 2366 5BD8 E1E4` right?

---

(re requirements for Owner vs Member vs general public, we should have that discussion soon-ish, but in a separate thread …AFAIK @talha131 was already wo

[2018-12-06 10:51] iranzo commented on #1
Yes, if not for you, we will need another 'account' for the bot that has 'write' access at least to the repo.

yes, my key is:

[code]

[2018-12-06 10:54] silverhook commented on #1
I’m OK with lending mine (at least until we find a better solution).

Do I need to enable any scopes?

[2018-12-06 10:56] iranzo commented on #1
From <https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/>

And as we do need read/write it should be 'repo', probably status, deployment, public_repo

If something is missing we can change with one with more privileges

[2018-12-06 11:11] silverhook commented on #1
Thanks. Generated and sent to you by encrpyted e-mail.

[2018-12-06 11:45] iranzo commented on #1
Thanks will continue later today and add it

[2018-12-06 22:30] iranzo commented on #1
Please do check <https://pelican-elegant.github.io/>

And downgrade back my user.

If everything OK, I'll document how it was done in the following days

[2018-12-06 22:31] iranzo opened #6 "Remove about me in generated page"

[2018-12-06 22:31] iranzo opened #7 "Submit sitemap to google sites"

[2018-12-06 22:31] iranzo opened #8 "Claim website via google file for verification (search console, etc)"

[2018-12-06 22:32] iranzo opened #9 "Revisit categories, texts that should be removed from documentation URI"

[2018-12-06 22:32] iranzo opened #10 "Update other repo doc's url to final one"

[2018-12-06 22:33] iranzo commented on #1
Build example at <https://travis-ci.org/Pelican-Elegant/documentation/builds/464690087>

[2018-12-07 04:25] talha131 opened #12 "Is a separate repository necessary for rendered pages"
@iranzo Is it necessary to put rendered pages on a different repo https://github.com/Pelican-Elegant/pelican-elegant.github.io? Can we put them in a, say `published` branch of this repo and then host on github pages?

[2018-12-07 04:27] talha131 opened #13 "Accordion is not working"
Accordion is not working

https://pelican-elegant.github.io/categories.html

Related to

https://github.com/Pelican-Elegant/elegant/issues/189
https://github.com/Pelican-Elegant/elegant/pull/131

[2018-12-07 05:06] AWegnerGitHub opened #14 "Table of Contents is not being generated in documentation"
Example URL: https://pelican-elegant.github.io/few-more-features-of-elegant
Result: The `[TOC]` string if being displayed
Expected result: `[TOC]` will be replaced with the expected table of contents

[2018-12-07 06:42] iranzo commented on #6
Well, what I meant was to 'update' the contents, so yes, idea is to 'update' wherever it's required with relevant content

[2018-12-07 06:51] iranzo commented on #12
No, it's not required to put it on a different, for personals I think it was required to do it so.

For organizations, it can be 'any branch', thing is that we want it to be automated and having it separated give us the chance to avoid messing with the repo we use to host the actual documentation with different branches.

[2018-12-07 07:51] silverhook commented on #13
Hehe, and dog-fooding is already paying off ;)

[2018-12-07 07:55] silverhook commented on #1
Awesome, thanks.

I changed @iranzo and @ashwinvis ’s invitation back to Member (discussion on roles here: https://github.com/Pelican-Elegant/elegant/issues/193)

@ashwinvis, @iranzo: would you two volunteer to be responsible for maintaining the CI?

[2018-12-07 08:04] iranzo commented on #1
I don't mind doing it, as I also use it for other projects, whatever helps for one, helps the others

[2018-12-07 08:06] ashwinvis commented on #1
Sure count me in. I would be interested as I still use the theme.

-------- Original Message --------
On 7 Dec 2018 8:55 am, Matija Šuklje wrote:

[2018-12-07 08:16] silverhook commented on #1
Cool :+1:

[2018-12-07 10:18] talha131 commented on #12
Thanks for the explanation. As you are leading the effort to host the documentation, I trust your best judgement.

[2018-12-07 10:18] #12 closed

[2018-12-07 10:32] iranzo commented on #1
Should this be closed now?

[2018-12-07 10:33] iranzo commented on #7
Assign to me

[2018-12-07 10:33] iranzo commented on #8
Assign to me

[2018-12-07 12:52] iranzo commented on #7
Depends on #8

[2018-12-07 13:04] iranzo commented on #8
https://github.com/Pelican-Elegant/documentation/pull/15

[2018-12-07 13:31] iranzo commented on #7
Done:

![image](https://user-images.githubusercontent.com/312463/49650529-bc551e00-fa2c-11e8-84b0-bb0834827973.png)

[2018-12-07 13:31] #7 closed

[2018-12-07 13:35] talha131 commented on #7
Thank you @iranzo. Really appreciated!

[2018-12-07 13:36] iranzo commented on #7
My pleasure!

[2018-12-07 14:37] silverhook commented on #1
Yeah, I think we’re good.

@ashwinvis, if you see any reason to re-open this, feel free to do it (or let me know, if you can’t).

[2018-12-07 14:37] #1 closed

[2018-12-07 22:44] iranzo commented on #1
URL on what was done <https://iranzo.github.io/blog/2018/12/07/elegant-website-ci/>

If you're ok, I can copy to documentation and pr it

[2018-12-07 23:15] silverhook commented on #1
Great stuff! I think it’d be a good idea to merge it into the new documentation site :+1:

[2018-12-08 18:55] talha131 opened #17 "Add categories"
Currently we have all articles filed under "Elegant - Pelican Theme". Originally documentation was hosted at my personal blog. It made sense to file everything under "Elegant" category.

But this needs to be expanded now. Off the top of my head

1. Configuration
1. Guides (It will have articles on integrating plugins with the theme)
1. Customization
1. Analytics

Suggestions and PR are welcomed.

[2018-12-08 18:57] talha131 opened #18 "Remove attribution to @talha131 blog in the footer"
It's community driven now therefore, reference to personal blog must be removed.

![](https://i.imgur.com/PPtItZi.png)

[2018-12-08 19:00] talha131 opened #19 "Archives page is messed up"
I am not sure is it a bug in the elegant or some configuration is messed up

![](https://i.imgur.com/L4pSwkX.png)

[2018-12-08 19:11] talha131 opened #20 "Firefox shows warning "Tracking cookie is blocked""
When I visit the site using Firefox Dev edition, it shows me this warning, when I clicked on the lock icon in the address bar.

![](https://i.imgur.com/Q26JNiJ.png)

I enabled all cookies, refreshed the site and viewed the cookies in storage inspector. It was empty

![](https://i.imgur.com/4ofLBDZ.png)

The most likely reason is that FF is being overzealous and reporting false positive.

I am repo

[2018-12-08 19:16] talha131 opened #21 "Explain why links' CSS style uses mute colors and dashes"
For reference
1. [Nicholas Carr's Experiments in delinkification](http://www.roughtype.com/?p=1378)
2. @tshepang [tweet](https://twitter.com/tshepang_dev/status/385916228314750976)

[2018-12-09 11:30] silverhook commented on #20
If memory serves me right, https://github.com/Pelican-Elegant/elegant/issues/166 should fix that.

[2018-12-09 11:31] silverhook commented on #19
Happens to me too ever since I got back on master and I’ve seen it on many other blogs using Elegant lately.

I’d say it’s a regression we picked up somewhere between https://github.com/Pelican-Elegant/elegant/commit/7ec41570b6ba4d6832146e98b05a42066abd2511 and https://github.com/Pelican-Elegant/elegant/commit/8a0bde0de7d1e40a38f61527576262d83cacde5b

[2018-12-09 11:34] silverhook commented on #18
I suggest to change it to something like:

“Elegant contributors”

other options that pop to mind:

- Contributors to the Elegant project
- Elegant authors
- Elegant community
- …

[2018-12-09 11:36] silverhook commented on #17
This sounds like a good overview, yes.

Are these already pages or blog entries?

In any case, it might make sense to add a blog for releases (and big announcements).

[2018-12-10 02:46] talha131 commented on #18
How about

"Elegant documentation is an Open Source Project, which is licensed under a ...."?

[2018-12-10 03:07] talha131 commented on #17
We need to change meta data of existing articles.

Announcement articles are good suggestion. We can write release notes articles and file them under "Announcement" category.

[2018-12-10 03:32] talha131 commented on #21
@silverhook I will try next weekend.

[2018-12-10 03:39] talha131 opened #22 "Automatically update the documentation site when elegant master is updated"
@iranzo Is it possible to recompile the docs and push them to the github pages, every time we see a change has been made in Elegant master branch?

Just now I have merged your changes that fixes the accordion issue https://github.com/Pelican-Elegant/elegant/pull/200 but the docs have not been updated.

[2018-12-10 07:16] silverhook commented on #18
I think we should keep to the original template, so what I imagine is something like:

and at the other end simply keep:

That would be the license of the page/documentation content.

What Elegant (as a theme) is, we should explain in the “About Me” part.

[2018-12-10 07:30] silverhook opened #23 "Explain Archives, Tags and Categories variables and what it means for the search function"
- [ ] Explain `ARCHIVES_URL`, `TAGS_URL`, `CATEGORIES_URL`
- [ ] Provide examples and defaults
- [ ] Write caveat that if you set this to something unexpected, it would break the search function

For more info see https://github.com/Pelican-Elegant/elegant/pull/186

[2018-12-10 07:32] talha131 commented on #22
@iranzo I have upgraded you to admin again. Please look into the issue.

As for the token, you can let me or @silverhook know about it and we will generate it.

Is there a better way to fix this token mess? Should we add a bot account? But then who would keep its password?

[2018-12-10 07:36] iranzo commented on #22
No, I meant, that I was seeing the account as below:
![image](https://user-images.githubusercontent.com/312463/49717114-403e1e80-fc56-11e8-824b-b08e68bce832.png)

Now I do see it as:
![image](https://user-images.githubusercontent.com/312463/49717233-a3c84c00-fc56-11e8-9c38-fdf92f75cdc1.png)

No longer grayed out

[2018-12-10 07:38] iranzo commented on #22
I'll check how to trigger a build when new merge to master is done (in repo elegant)

[2018-12-10 08:03] iranzo commented on #22
<https://github.com/stephanmg/travis-dependent-builds> ?

[2018-12-10 08:08] iranzo commented on #22
<https://hiddentao.com/archives/2016/08/29/triggering-travis-ci-build-from-another-projects-build/>

[2018-12-10 08:12] silverhook commented on #22
CC @ashwinvis

[2018-12-10 08:13] iranzo commented on #22
I think from what I've read that the path would be to enable travis on 'elegant' repo so one of the tasks is to run the 'trigger' on documentation repo

[2018-12-10 09:10] iranzo opened #24 "Document travis setup"
Document the process at #22

[2018-12-10 09:11] iranzo commented on #22
Issue for documenting the process so far at #24

[2018-12-10 09:14] iranzo opened #26 "Do we want to setup analytics?"
I was thinking that as we do have the site claimed on google (to submit sitemap, etc) it would be also 'easy' to push a tracker so that we can get website statistics.

So... room open for discussion here...

[2018-12-10 12:42] talha131 commented on #26
I vote against it for following reasons,

1. In my experience most Pelican users are tech savvy (like you and @silverhook use PGP) and privacy conscious. That's one of the reason behind creating [share-post](https://github.com/getpelican/pelican-plugins/tree/master/share_post) plugin, if you look up the discussion around it on IRC
1. Lets say we collect the analytics. What are we going to use it f

[2018-12-10 14:14] talha131 commented on #26
Share-post enables sharing post on social sites without the user tracking that comes with usual social widgets.

I understand your post. Lets see what others have to say on this topic.

[2018-12-10 14:46] silverhook opened #28 "Add FAQ: Https and styling gone"
Q: If I use https my page looks funny – there seems to be no style at all!

A: Make sure you have your URL in the `SITEURL` with http**s**.

Perhaps explain the protocol-agnostic approach, its pros and its limitations.

https://github.com/Pelican-Elegant/elegant/pull/200#issuecomment-445733216

[2018-12-10 16:09] talha131 commented on #18
There is to much "elegant" in it 😆

My suggestion

"Elegant theme documentation is licensed under a CC-BY-SA-4.0 license."

[2018-12-10 17:15] talha131 commented on #28
I suggest adding a separate article for it. Instead of creating a generic FAQ and appending to it.

Article could be on "how to use Elegant with SSL" with a subheading on "Why the Look and Feel has Changed after enabling SSL".

Article will have detail on where to set the `https` and common pitfalls like the one you came across.

[2018-12-10 18:54] talha131 commented on #14
@iranzo I think it's because markdown extensions are not working. We have bunch of markdown extensions enabled

https://github.com/Pelican-Elegant/documentation/blob/master/pelicanconf.py#L15-L16

and bunch of pelican-plugins

https://github.com/Pelican-Elegant/documentation/blob/master/pelicanconf.py#L18-L20

If md extensions and plugins will work, it will improve the site and showcase our featur

[2018-12-10 18:57] talha131 commented on #23
To be clear, article should put emphasis on the fact that search functionality needs correct URLs.

[2018-12-10 19:04] talha131 opened #29 "Links in top menu bar are not working"
Categories, archives, and tags menu items, they all point to the home page.

I suspect its due to this commit https://github.com/Pelican-Elegant/elegant/pull/186/

[2018-12-10 21:08] iranzo commented on #14
Hi,

@talha131 : About the markdown extensions and plugins, I did add the repos for downloading the plugins, about the extensions do you happen to have documented how to install it so that I can add them to the travis setup process?

About the TOC heading, as I'm also editing markdown with my editor for other platforms (not just pelican), it does handle it for me when I update it, once we get it w

[2018-12-10 21:12] AWegnerGitHub commented on #14
Your comment reminded me of changes I'd made @talha131 . `MD_EXTENSIONS` was deprecated in 3.7.0 ([source](https://blog.getpelican.com/pelican-3.7-released.html)).

Instead you use `MARKDOWN` (search [this](http://docs.getpelican.com/en/3.7.0/settings.html#basic-settings) for `MARKDOWN` to see the new dictionary).

My `MARKDOWN` dictionary looks like this:

[code]

I don't have an entry for `extra

[2018-12-11 04:20] talha131 commented on #14
Thank you @AWegnerGitHub. That's very helpful.

`extra` lets you use footnotes.

`headerid` is deprecated.

[2018-12-11 09:35] talha131 commented on #22
Close with https://github.com/Pelican-Elegant/elegant/pull/205

[2018-12-11 21:14] AWegnerGitHub opened #31 "Use built in [TOC] tag and remove HTML from travis-ci-and-doc-website.md"
The table of contents does not appear on the side of the [article](https://pelican-elegant.github.io/travis-ci-automation-for-documentation-website) because the TOC is being manually built in the markdown. We should replace this with the `[TOC]` tag and remove the associated HTML entries at the top of each section.

[2018-12-11 21:29] iranzo opened #32 "Document master trigger of documentation rebuild"
Document the setup that builds documentation website when master has new commit in 'elegant'

[2018-12-11 21:30] iranzo commented on #32
@talha131 @silverhook @AWegnerGitHub ,
Can you please review https://iranzo.github.io/blog/2018/12/11/travis-to-trigger-build-in-another-repo/ as source for the PR that will close this issue?

Thanks
Pablo

[2018-12-11 21:30] iranzo commented on #32
Context: It explain what was done on 'master' to trigger new build of website

[2018-12-11 21:32] AWegnerGitHub commented on #29
It looks like this might be another Pelican 4.0 thing.

From the [settings documentation](http://docs.getpelican.com/en/stable/settings.html) (search "Direct Templates")

Example: `ARCHIVES_SAVE_AS = 'archives.html'`

---

This is a bit confusing though as another section on the same page says this:

I've asked for clarification in https://github.com/getpelican/pelican/issues/2490

[2018-12-11 21:36] AWegnerGitHub commented on #31
Being handled in #32

[2018-12-11 21:36] #31 closed

[2018-12-11 21:36] AWegnerGitHub commented on #32
Why did you manually build the table of contents instead of using `[TOC]`? Due to how close this issue and the one I created were on creation time, I'm guessing you didn't see https://github.com/Pelican-Elegant/documentation/issues/31

I'll give the content itself another read in a few hours. I read over it one though and nothing jumped out as confusing at that time.

[2018-12-11 21:40] iranzo commented on #32
Hi,
I do use a editor extension that handles it in the same way in all markdown files I do use, I can replace them by '[TOC]' on the file I submit to the documentation website so that we do insist on the doogfooding.

Also this will probably need to tweak the pelicanconf.py file to use the MARKDOWN instead of MD_EXTENSION

If the content is OK, I can PR both [TOC] in prior and this document at the

[2018-12-11 21:56] iranzo commented on #32
Fixed in #33 (TOC) and add new article

[2018-12-12 03:37] talha131 commented on #29
Thank @AWegnerGitHub. I have assigned the issue to you.

Please also see this issue

https://github.com/Pelican-Elegant/elegant/issues/203

[2018-12-12 05:58] talha131 commented on #22
@iranzo is this feature really working?

See I just merged in the elegant repo following commit.

https://github.com/Pelican-Elegant/elegant/commit/c0624f9cfc38806c1eeff6d67ac7558b1830355c

It should have triggered regeneration of documents site. Instead we see the relevant page is unchanged

https://pelican-elegant.github.io/archives.html

and Travis build history does not show any new activity.

[2018-12-12 06:08] talha131 commented on #22
If you see the archives now, it is working. But that's due to [build](https://travis-ci.org/Pelican-Elegant/documentation/builds/466853120) that was triggered by updating documentation repo directly via 815d600d07917fe7f49500c81486d4d88ce9c27a.

The trigger for elegant repo is not working.

[2018-12-12 06:14] talha131 opened #34 "Add page to encourage visitors to contribute"
1. Add a page
1. Show it in the top menu bar

Content needs to be about

1. Please contribute, even if a little
1. If you can't code then help in documentation
1. Please, please contribute.
1. Please, please contribute.
1. Please, please contribute.

You get the idea.

[2018-12-12 06:51] iranzo commented on #22
Hi,
It worked when I did tested it, I'll make a new irrelevant merge on this to test the trigger, is that ok?

Regards,
Pablo

[2018-12-12 06:59] iranzo commented on #22
Still, I've checked the latest commit on master:

https://travis-ci.org/Pelican-Elegant/elegant/builds/466849258

If you click on 'raw log'

it goes to https://api.travis-ci.org/v3/job/466849259/log.txt

And at the end you can find:
[code]

So apparently, the build was triggered

If we go to the builds on documentation, I can see:

![image](https://user-images.githubusercontent.com/312463/49852204

[2018-12-12 07:02] iranzo commented on #22
I've created https://github.com/Pelican-Elegant/elegant/pull/208 to restest 'now', @talha131 can you merge it so that we can check it triggers the build of documentation?

[2018-12-12 07:33] talha131 commented on #22
@iranzo have a look. Merging your commit, triggered a build on elegant repo.

https://travis-ci.org/Pelican-Elegant/elegant/builds/466870378

It's last line read,

[code]

Now if I go documentation build history, it is stuck at 38.

https://travis-ci.org/Pelican-Elegant/documentation/builds

[2018-12-12 07:35] iranzo commented on #22
![image](https://user-images.githubusercontent.com/312463/49853746-6b587780-fde8-11e8-8336-102ec1f92255.png)

[2018-12-12 07:35] iranzo commented on #22
So a build has been triggered 2 minutes ago and was succesful

[2018-12-12 07:38] talha131 commented on #22
To my understanding, it was triggered when I approved your changes in your PR here

https://github.com/Pelican-Elegant/documentation/pull/33

See, I have just added a commit

https://github.com/Pelican-Elegant/elegant/commit/b2e6edaa71ea91e2b71c0e6154df2691ca70e106

It has triggered build

https://travis-ci.org/Pelican-Elegant/elegant/builds/466873198

Lets wait 15 min and see if we see anything n

[2018-12-12 07:39] iranzo commented on #22
Build 39 is booting again with the changes:

![image](https://user-images.githubusercontent.com/312463/49854103-752eaa80-fde9-11e8-88ec-306bfe133bea.png)

[2018-12-12 07:42] talha131 commented on #22
Ok. So you mean Travis does not start a new build but just reboots the last build?

That explains it.

I wonder why archives page was not updated when pushed fixed to elegant repo. Perhaps I should have waited a bit longer, as you said

[2018-12-12 07:42] #22 closed

[2018-12-12 07:43] talha131 commented on #22
Thanks a lot for taking your time to explain the issue to me. You have been very patient.

[2018-12-12 07:44] iranzo commented on #22
Yes, it does start the last build, there was another page I looked at that triggered a new one, but the tests I did failed so I did this way.

Remember that once the build is done, it also takes some time for GH pages to show latest version as prior ones are cached, etc.

Regards,
Pablo

[2018-12-12 07:44] #32 closed

[2018-12-12 09:23] iranzo commented on #29
So probably yes, 4.x issue let's see what we do get on the issue you raised!

[2018-12-12 17:43] AWegnerGitHub commented on #29
https://github.com/getpelican/pelican/issues/2490#issuecomment-446666400

So, either we define the `*_URL` values in the config file, or we need to utilize another option? The comment linked above gives an example. Would this be a good idea for us?

[2018-12-12 22:43] iranzo commented on #29
+1 on defining them in our 'elegant setup guide'

[2018-12-13 03:07] talha131 commented on #29
We should strive for making Elegant work for the user out of the box. We already have too many options to configure. We should,

1. Provide reasonable defaults such that site can be up and running without any configuration
1. May provide variables to fine tune the site

The example [here](https://github.com/getpelican/pelican/issues/2490#issuecomment-446666400) is pretty good.

[code]

I think it

[2018-12-13 15:19] #29 closed

[2018-12-13 15:42] iranzo commented on #29
Validated in live website after elegant merge that triggered documentation rebuild

[2018-12-13 15:49] talha131 commented on #29
Thank you @iranzo for testing it for me.

[2018-12-13 20:34] AWegnerGitHub commented on #13
This can be closed. We fixed it :)

[2018-12-13 21:40] silverhook commented on #26
I pretty much agree with @talha131 on this topic and in my personal opinion, I’d also be for simply closing this issue.

Right now I see no benefit in using analytics – especially something as simple as site analytics.

If we were eventually to monitor our project to better fit it our community, I would instead suggest a more thorough approach, I’d go for something like Kibana/[GrimoireLab](https:

[2018-12-13 21:42] #13 closed

[2018-12-13 21:42] iranzo commented on #26
+1
Let's close it

[2018-12-13 21:42] #26 closed

[2018-12-14 05:04] talha131 opened #36 "Add article and example of series plugin"
We have an article on using multi-part plugin. But the plugin has been deprecated.

https://pelican-elegant.github.io/how-to-use-multi-part-plugin

Now we need,

1. A new article on series plugin (it can cannibalize the multi-part article)
1. Few example articles that use series plugin (Text can be just lorem ispum)
1. Mark multipart plugin article as deprecated. Do not delete it. But show a warni

[2018-12-14 05:04] talha131 commented on #36
@AWegnerGitHub Would you be willing to take this issue?

[2018-12-14 22:26] iranzo opened #40 "Create a robots.txt"
Create a robots.txt for 'documentation site' that we could later use for tweaking and blocking robots on 'next' website.

(requires tweaking pelican regularconf to add a static file, etc)

[2018-12-15 12:24] iranzo opened #42 "Switch build config to 'series' plugin"
As we moved to 'series' plugin, we need to update config and plugins downloaded for it

[2018-12-15 12:43] #42 closed

[2018-12-15 12:45] #40 closed

[2018-12-15 12:51] iranzo commented on #6
I think this could be closed now

[2018-12-15 12:51] iranzo commented on #9
I think this could be closed now

[2018-12-15 12:51] iranzo commented on #10
I think this could be closed now

[2018-12-15 13:31] #10 closed

[2018-12-15 13:31] #9 closed

[2018-12-15 13:32] #6 closed

[2018-12-16 14:11] AWegnerGitHub commented on #36
My plan for this is to write a "Getting Started" type guide. I plan on taking some of the documentation from the OnReboot site, covering how to set up and enable various features, and optional configurations.

I'll get a full outline of articles in a day or two. Doing it this way will get us a few things though:

- Covers basic set up
- Covers all of our cool features
- Shows how each feature work

[2018-12-16 14:33] talha131 commented on #36
Thank you @AWegnerGitHub.

There is one more thing, we need to demo features of landing page.

1. With and without summaries
1. With and without my projects
1. With and without about me

The old landing page that had my details, could be reused for this.

For this purpose, we may want to use Pages feature of Pelican. Create special pages and demo them. Or we can simply use articles (but I am not s

[2018-12-17 19:35] AWegnerGitHub commented on #4
I'll be tackling this as part of #36

[2018-12-18 15:50] silverhook commented on #18
Is this to be closed now?

[2018-12-18 16:17] talha131 opened #49 "Add admonition example in reST"
http://docutils.sourceforge.net/docs/ref/rst/directives.html#admonitions

[2018-12-18 16:20] talha131 commented on #18
No I need to update the configuration. Related to #41

I will do it in a while.

[2018-12-19 07:00] silverhook commented on #18
In connection with #41 we also need to update the `pelicanconf.py` file:

from:

[code]

to at least

[code]

… or better yet to:

[code]

… so the visitor can see the license text by just clicking on the link.

[2018-12-19 14:16] talha131 commented on #18
That's the plan.

[2018-12-19 14:17] #18 closed

[2018-12-19 18:24] talha131 opened #52 "Add annoncement article for 2.0 release"
1. Add change log
1. Add note that the project is now community driven. Mention @silverhook
1. Make special mention of @iranzo and @AWegnerGitHub
1. Add thanks https://github.com/Pelican-Elegant/elegant/issues/227

[2018-12-27 18:54] silverhook commented on #52
I’ll give it a quick go and submit a PR, so we can refine it together, if needed.

[2018-12-27 19:06] silverhook commented on #17
Another good category would be “Release notes”. Especially for people who would only want to follow our releases, and nothing else.

I’ll add it for #52, if no-one complains.

[2018-12-27 19:12] talha131 commented on #17
Thanks @silverhook. Yeah, "Release Notes" category is fine. It's more apt for #52 than "Announcement" category.

[2018-12-27 19:13] talha131 commented on #52
@silverhook I think

can be placed in a separate article and that article can be placed in "Announcement" category.

[2018-12-27 19:20] silverhook commented on #17
Should we re-order the categories as folders, for easier navigation?

Currently the categories are explicitly stated in the MarkDown files, but we could just create the appropriate folders and move them there.

[2018-12-27 19:21] silverhook commented on #52
I’ll try to squeeze it in, but if it feels off, we can take it out and into a separate post.

Any concerns against this being in the same PR?

[2018-12-27 20:14] silverhook commented on #52
A good question is what we should do with https://github.com/Pelican-Elegant/elegant/blob/master/RELEASE_NOTES.md then.

One option would be to rename it into a traditional `ChangeLog` – [see Wikipedia article][wp] – and make it a rule that when a new feature or (big) bug is fixed, it should be documented there as well in the same PR.

Then we could simply include the changelog into the release no

[2018-12-27 20:46] talha131 commented on #17
Yes. You are right. Each category should get its folder. Currently it isn't b/c its originally from my blog which placed all elegant related material inside elegant folder.

[2018-12-27 20:50] talha131 commented on #52
Right.

1. Release Notes → Change log
1. Ask contributors to update it. (It should be updated with every PR, in my opinion)
1. Use change log to write Release Notes article with every release.

No issues. Though, I think release notes should not have project management announcement in it, unless necessary. It makes sense to put it inside Release Notes in cases where developer have no other mean of

[2018-12-27 20:54] silverhook commented on #52
Agreed.

I will try to write it into two separate posts then.

[2018-12-27 20:59] silverhook commented on #52
@talha131, can you open up an issue or even pull request to update the `CONTRIBUTING.md` to include the ChangeLog rule? I don’t think we need to discuss or vote on it – it feel more like just something we forgot to explicitly mention, as you were doing this before already, and it is a commonly-accepted best practice.

[2018-12-27 21:16] talha131 commented on #52
Will do.

[2018-12-28 08:19] silverhook commented on #17
To recap, we have two options:

# All blogs

One option would be to keep everything as articles and have the following categories (separated as folders):

- Configuration (and installation)
- Guides and HowTos (It will have articles on integrating plugins with the theme)
- Customization
- Analytics
- Release Notes
- Announcements

# Blogs and pages

Or have pages and blogs entries separated:

Blog

[2018-12-30 06:08] talha131 opened #53 "Add article to document redirect feature"
https://github.com/Pelican-Elegant/elegant/pull/244

[2019-01-02 13:29] talha131 opened #55 "Add article about amazon one link support"
Related to https://github.com/Pelican-Elegant/elegant/pull/248

[2019-01-02 16:53] talha131 commented on #52
done

[2019-01-02 21:45] iranzo commented on #53
It's handled in #54

[2019-01-02 22:01] iranzo commented on #2
Is there anything missing to be handled here?

[2019-01-02 22:43] azzamsa opened #58 "How to get random Disqus Identifier ?"
It's mentioned "Set it to any unique string you want" [here](https://github.com/Pelican-Elegant/documentation/blob/master/content/Elegant%20-%20Pelican%20Theme/disqus-comments.md). But how do you guys get that random number before the "slug" thing ?

[code]

Thanks :)

[2019-01-05 17:58] silverhook commented on #52
Damn, I should have committed upstream and created a PR for the draft I wrote. I’ll send mine as well more for comparison with @iranzo’s, if there’s anything useful in mine and then concentrate on working on the community announcement.

[2019-01-05 20:15] silverhook opened #59 "Add Release Notes of all previous releases"
To make sure our documentation is complete, it would be nice to write short release notes posts for previous releases as well.

It should be enough to just copy-paste the relevant lines from https://github.com/Pelican-Elegant/elegant/blob/master/CHANGELOG.md

Just make sure the category is right: `Category: Release notes` and that the article date is the date of when the release happened.

This is

[2019-01-09 00:21] azzamsa opened #62 "Add spesific version of library"
I think it's better to add specific version explicitly to library in requirements.txt and requirements-test.txt. So we know every changes made by upstream.

Also we can add `rev` in peru using [peru reup](https://github.com/buildinspace/peru#magical-updates)

We don't want to spend lot times digging problem here, but turn out it comes from the changes made in upstream. e.g https://github.com/Pelic

[2019-01-09 09:40] iranzo commented on #58
Theoretically, disqus is based on both site + slug if you don't specify it, and as 'slug' has to be independent anyway it shouldn't be an issue unless you manually repeat the same identifier on different articles

[2019-01-09 09:47] iranzo opened #63 "Article idea: Canned 'step-by-step' to github.io blog with automation"
Hi

I was thinking about writing an article on my blog based on a talk I'll be giving to some coworkers and to extend it to some kind of either document or 'repo' for 'canned' setups.

Idea will be that a user could clone that repo from our setup, and that repo will contain:

- master/source branch
- README in 'master' with 'extra steps' required like:
    - Enabling github pages
    - adding trav

[2019-01-09 09:47] iranzo commented on #62
Elegant is not distributing requirements nor peru yaml, as it's just a theme, and each of the extra components that can be used should be optional.

Another thing is to work on a canned setup that can be automated  as suggested in #63

[2019-01-09 13:54] azzamsa commented on #58
Thanks a lot Iranzo.

[2019-01-09 13:54] #58 closed

[2019-01-09 13:55] azzamsa commented on #62
I see, but how awesome if one can fork this documentation site then just need small changes here and there.

About your article, great addition for this docs.

[2019-01-09 17:55] #53 closed

[2019-01-09 18:01] #55 closed

[2019-01-09 18:04] talha131 commented on #58
@azzamsa

This is the key. You just have to make sure your identifiers are always unique and immutable.

The unique number you see was just my attempt to ensure "uniqueness". I picked it from my git commit hashes. 😄 I don't know what source other contributors used.

[2019-01-09 18:18] talha131 commented on #63
Yeah, a step by step guide would be of great value.

[2019-01-09 22:57] iranzo commented on #2
@silverhook do you want to submit the changes?

[2019-01-09 23:18] azzamsa commented on #58
Wow, nice idea :tada:

[2019-01-09 23:52] iranzo commented on #63
Created https://github.com/iranzo/blog-o-matic/ with this approach

Currently it misses some issues we're facing here like:
- Tipue search not working
- RSS slugs (solved by using 'next' branch)

But automates the process of setting the website, to some extent (some manual steps required) and after it, each new document added will trigger a new website build.

I can make the article to this issue

[2019-01-09 23:52] iranzo commented on #62
@azzamsa check #63

[2019-01-10 00:37] azzamsa commented on #62
@talha131 Thanks a lot for your explanation. My 'own' problem with elegant is:

When I set the theme to elegant, I can't get tipue_search working, spend huge time with the help from Iranzo, turns out the problem was from elegant search template. It still use json version instead of js. When I run peru sync, indeed peru will grab the latest version. That's why I highly recommend for requirements or

[2019-01-10 12:10] talha131 commented on #62
Thank you @azzamsa for the detailed and thorough explanation.

The reason you had to dealt with tipue search issue is because we have messed up releasing 2.0. The search features relies on the plugin and tipue code, both of which upgraded recently, and we failed to update the theme timely. Once we are out of this trough, you will see more stable and quicker releases from us.

`peru` should not be

[2019-01-10 12:37] azzamsa commented on #62
Oh I see, thank you for complete explanation. Sure, I saw lot of 'best theme for pelican' query in search engines point to elegant.  People also recommend it in forums. Hope elegant get more stable relases

Indeed, I didn't know peru before. I just know it here. I agree with your opinion about peru. If we depend a lot to it for this issue, it just add more barriers for new comers.

:)

Thanks a lo

[2019-01-10 15:44] #2 closed

[2019-01-10 16:08] #52 closed

[2019-01-11 16:13] iranzo commented on #63
I've added PR 66 to adress this, have a look on it and provide feedback!

[2019-01-14 05:54] iranzo opened #67 "Document disable comments"
Document https://github.com/Pelican-Elegant/elegant/pull/269 setup and usage

[2019-01-14 05:54] iranzo commented on #67
@azzamsa willing to take over this?

[2019-01-14 05:55] iranzo opened #68 "Document post_stats"
Document https://github.com/Pelican-Elegant/elegant/pull/268

[2019-01-14 05:55] iranzo commented on #68
@azzamsa willing to take over this?

[2019-01-14 05:55] iranzo opened #69 "Document freelist"
Document on https://github.com/Pelican-Elegant/elegant/pull/240

[2019-01-14 05:56] iranzo commented on #69
@azzamsa willing to take over this?

[2019-01-14 06:32] iranzo commented on #28
Does this is still relevant? since we moved uris to be protocol agnostic it shouldn't matter anymore.

[2019-01-14 06:38] iranzo commented on #4
As we've documentation already in place and AWegner will covering part of this in #36 I think we can close this now.

ACK?

[2019-01-14 08:10] iranzo opened #70 "Update articles instructing to use MD_EXTENSIONS to MARKDOWN"
Articles like 'toc' instruct to use MD_EXTENSIONS and should be updated to MARKDOWN setting as per:

https://blog.getpelican.com/pelican-3.7-released.html

[2019-01-14 11:15] iranzo opened #72 "Pelican reveal-md"
Do we want to enable 'by default' <https://github.com/brookskindle/pelican-revealmd> on blog-o-matic and documentation website so that we can upload presentations of Elegant directly in website?

[2019-01-14 11:39] talha131 commented on #72
Cool find. Love it. Please add it.

We may customize Elegant if needed to support revealmd.

[2019-01-14 12:33] azzamsa commented on #67
with pleasure

[2019-01-14 12:34] azzamsa commented on #68
with pleasure

[2019-01-14 12:37] azzamsa commented on #69
I will try if I had some free time, But I want to offer to @ashwinvis first :)

[2019-01-14 12:40] iranzo commented on #69
I was trying to get you motivated on document writing ;-)

[2019-01-14 12:43] azzamsa commented on #69
Actually I have same task at my table, I love to document. Sure I will manage my time better :).

[2019-01-20 21:36] iranzo commented on #72
I've fixed the three issues I've found in the plugin and submitted a PR, but in the meantime I'm serving it from my user repo

you can check how does it look like at <https://iranzo.github.io/blog/2019/01/16/automate-project-github-pages-travis-and-quay/#/title-slide>

Let me know if I should PR to add it to documentation website as feature

[2019-01-22 11:55] ashwinvis commented on #69
I won't have  a lot of time to do this in the coming few months, so @azzamsa, feel free to take a stab at this. Since the PR is only destined for Elegant 3.0 milestone - my hunch is there will be plenty of time to do this.

[2019-01-29 20:44] AWegnerGitHub commented on #36
I've not forgotten about this, but the start of the new year messed with my free time. As January finishes up, I should regain some of that time soon and will come back to this soon.

[2019-02-10 16:32] talha131 commented on #36
No pressure @AWegnerGitHub. Thanks for keeping us informed.

[2019-04-01 07:42] iranzo opened #73 "Remove google plus references"
I.R.T: https://github.com/Pelican-Elegant/elegant/issues/286

[2019-06-09 15:24] #73 closed